/*
   Author:  Barbara Emke	 
   Date:     November 14, 2022
*/

/* ================
   Base Styles
   ================
*/

article, aside, figcaption, figure,
footer, header, main, nav, section, body { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   color: #1b1b1b;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

body {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1{
    font-size: 20pt;
}

/* ================
   page Styles
   ================
*/

html {
	background-color: #8C9685;
}

main {
	flex: 1;
}

/* ================
   Header Styles
   ================
*/
header {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
	background: linear-gradient(to right, #A99778, #ebe8e6);
    border-bottom: 2px solid #596F55;
}
div#logo{
	width: 20%;
	padding: 15px;
    max-width: 150px;
    float: left;
}

img{
	width: 100%;
}

div.user_info{
    padding-right: 15px;
    float: left;
    width: 20%;
    max-width: 150px;
    text-align: right;
}

h1.header_title{
    font-size: 34pt;
    text-align: center;
    float: left;
    width: 60%;
}

p.name{
    font-size: 16pt;
}

header p.name, header p.hyperlink  {
    line-height: 80%;
}

/* ================
   Navigation Styles
   ================
*/

nav.horizontal{
    display: flex;
      justify-content: center;
      align-items: center;
    clear:both;
    width: 100%;
    margin: 20px 5%;
    background-color: #dfdddd;
    border: 2px solid #535353;
    
}

img#menu {
 	display: none; 
}

ul.mainmenu > li {
    float:left;
    position:relative;
    text-align: center;
    margin: auto;
}

nav.horizontal ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    list-style-image: none;
    justify-content: center;
      align-items: center;
 }
 
 nav.horizontal a {
     display: block;
    text-decoration: none;
    font-size: 14pt;
    padding: 20px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #353535;
 }
 
 nav.horizontal a:hover, nav.horizontal a:active {
    background-color: rgb(165, 165, 165);
    color: white;
 }
 
 p a {
     font-size: 14pt;
     text-decoration: none;
     word-wrap:normal;
     color: black;
     padding: 5px;
 }

/* ================
   Body Styles
   ================
*/

div.content_box{
    background-color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    margin: 5% 10% 7%;
    padding: 4% 4%;
    border: 1px solid #000000;
}

div.filter_elements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20%;
    background-color: #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

div.filter_elements .flex_field p{
    padding: 0;
}

div.timesheet_record{
    background-color: #f8f6f6;
    margin: 0px 20% 20px 20%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  	cursor: pointer;
}

p.heading{
    font-size: larger;
    font-weight: bolder;
}

.center-container {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.center-container div{
 	width: 80%; 
}

.content {
    width: 100%;
    display: flex;
    border-top: 1px solid #000000;
    margin-top: 18px;
}

.col1-2{
    width: 50%;
    padding-top: 15px;
    padding-left: 10px
}

.col1-3{
    width: 30%;
    padding-top: 15px;
  	border-right: 1px solid #000000;
}

.col2-3 {
    width: 70%;
    padding-left: 10px;
    padding-top: 15px;
}

p{
    padding-bottom: 10px;
    line-height: 140%;
}

h2{
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
    text-decoration: underline;
}

h2.heading {
    text-align: center;
    margin-bottom: 18px;
}

p.larger{
    font-size: 18pt;
    font-weight: bolder;
}

p.base{
    font-size: 14pt;
}

p.tip{
    text-align: center;
    color: #535353;
}

/* ================
   Error Styles
   ================
*/

p.error {
	color: red;
}

p.hyperlink, p.hyperlink a {
	text-decoration: underline;
	color: rgb(120, 120, 120);
    cursor: pointer;
}

h2.no_results {
    padding-top: 20px;
    text-align: center;
}

/* ================
   Form Styles
   ================
*/

textarea#message{
 	width: 100%; 
}

.flex_field{
    display: flex;
}

div.form_popup {
    width: 400px;
    height: 500px;
	background-color: white;
	border: 1px solid rgb(130, 130, 130);
	position: fixed;
	top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 20px 50px;
	box-shadow: 1px 1px 6px 1px gray, -1px -1px 6px 1px gray;
    align-items: center;
}

div.form_popup h3 {
	text-align: center;
    font-size: 18pt;
    margin-bottom: 30px;
}


div.form_popup input{
    margin-bottom: 30px;
}

div.form_popup p.close_button{
    text-align: right;
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

div.field{
    margin: auto;
}

td.table-btn input.table-btn{
  	width: 100%; 
  	height: 100%;
    cursor: pointer;
}

/* ================
   Timesheet Form Styles
   ================
*/

form.form_timesheet .content_box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;;
}

div.form_heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;;
    border-bottom: 1px solid #000000;
}

div.spaced-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

div.col_1-2, div.col_2-2{
    width: 50%;
    margin-bottom: 10px;
    padding: 15px;
}

div.col_1-2 .flex_field, div.col_2-2 .flex_field{
    justify-content: space-between;
    padding-bottom: 15px;
}

div.col_1-2 .flex_field input, div.col_1-2 .flex_field select, div.col_2-2 .flex_field input, div.col_2-2 .flex_field select{
    flex: 2;
}

div.col_1-2 .flex_field label, div.col_2-2 .flex_field label{
    flex: 1;
}

div.col_1-2 {
    border-right: 1px solid #000000;
}


div.btns{
    display: flex;
    justify-content: space-around;
    margin: 0 20%;
}

textarea#comments{
 	width: 100%; 
}

/* ================
   Table Styles
   ================
*/

table {
    margin-top: 10px;
    width: 100%;
    padding-right: 10px;
}

th {
    background-color: #353535;
    color: #cecdcd;
}

table.with-borders {
    border-collapse: collapse;
}

table.with-borders th, table.with-borders td {
    border: 1px solid #1d1d1d; /* Border style and color */
}
p.table-text {
    text-align: left;
    padding: 3px;
    margin: 0px;
}

.table-btn{
    text-align: center;
    background-color: #e0e0e0;
    padding: 3px;
    border: none;
}

.tbl-input {
    border: none;
    outline: none;
    width:100%;
}

.bordered {
    border-bottom: 1px solid #000000;
}

.table-btn:hover {
    opacity: 0.8;
}

.save-btn {
    background-color: #bbbbbb;
}

.view-btn {
    background-color: #969494;
}

/* ================
   Button Styles
   ================
*/

button.btn:hover, button:hover, .slim:hover {
    background-color: #7c7c7c;
    color: #dadada;
    cursor: pointer;
}

button.slim{
    background-color: #B7B7B7;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 18px;
    padding: 6px;
    text-shadow: -1px -1px 1px #535353, 1px -1px 1px #535353, -1px 1px 1px #535353, 1px 1px 1px #535353;
}

button.btn{
    cursor: pointer;
    padding: 14px 40px;
    font-size: 16pt;
    background-color: #B7B7B7;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: -1px -1px 1px #535353, 1px -1px 1px #535353, -1px 1px 1px #535353, 1px 1px 1px #535353;
}

button.logout-btn{
    padding: 10px;
    background-color: none;
    border: 1px solid #000000;
    border-radius: 12px;
    font-size: 12pt;
}

/* ================
   Footer Styles
   ================
*/
footer {
	clear: both;
    padding: 20px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	background: linear-gradient(to right, #A99778, #ebe8e6);
    border-top: 2px solid #596F55;
}


/* =========================
   Tablet Styles: 0 to 800px 
   =========================
*/
@media only screen and (max-width: 800px) {
	/*for timesheet form*/
  	form.form_timesheet div.content_box{
    	display: block;  
      	margin: 5% 5px 7%;
  	}

  	div.col_1-2{
    	width: 100%; 
      	margin: 0;
      	padding-bottom: 0;
      	border: none;
  	}
  
  	div.col_2-2{
    	width: 100%; 
        padding-top: 0;
  	}
  
  	form.form_timesheet div.center-container{
    	width: 100%; 
  	}
  
  	textarea#comments{
    	width: 100%; 
  	}
  
/*For admin_dashboard*/
  	div.content_box{
    	margin: 5% 5px 7%;  
  	}
  
	div.content_box.not-mobile{
        min-width: 720px;
        overflow: auto;
  	}
  
  	.content{
    	display: block;  
  	}
  	.col1-3, .col2-3, .col1-2{
    	width: 100%;
      	border: none;
      	padding-left: 0;
      	padding-bottom: 15px;
  	}
  	.col1-3{
      	padding-bottom: 15px;
  	}

}

/* =========================
   Mobile Styles: 0 to 500px 
   =========================
*/

@media only screen and (max-width: 500px) {
    
/*For header*/
	div#logo{
        width: 20%;
    }
  
  header {
   		justify-content: left; 
  }
  
  h1.header_title{
   		font-size: 20pt;
    	text-align: left;
        width: 47%;
  }

	.toggle-menu-btn {
	  background-color: #555;
	  color: #fff;
	  padding: 10px;
	  border: none;
	  cursor: pointer;
	}

	ul.mainmenu {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}

	ul.mainmenu li {
	  padding: 10px;
	  text-align: center;
      margin:auto;
      width: 100%;
	}

	nav.horizontal {
		display: none;
      	margin: 0;
	}
  
  	nav.show {
   		display: block;   
  	}
  
	
	div#menu-container{
		display: block;
      	width:auto;
	}
    img#menu {
      	width: 70px;
      	display:block;
  	}

	div.user_info {
		clear: both;
        /* display: flex; */
        /* justify-content: right; */
        width: 33%;
        /* max-width: 70%; */
        margin-top: 15px;
        /* align-items: center; */
        text-align: right
	}
  
  
/*for timesheet records*/
  	div.filter_elements {
      	padding: 15px;
  	}
  
  	div.timesheet_record {
    	margin: 0px 5% 20px 5%;  
  	}
}

/* =========================
   Print Styles
   =========================
*/
@media print {
	body {
	    font-size: 12pt;
		min-height: 0;
	}

	html{
		background-color: transparent;
	}

  
	.no-print {
	    display: none; 
	}

  	header#myHeader{
   		margin-right: 0.3in; 
		margin-left: 0.3in;
		margin-top: 0.3in;
		background: transparent;
		height:auto;
        border-color: black;
      	min-width: 0;
	}
  
	h1{
	    font-size: 16pt;
	}

	img{
		width: 1in;
	}

	div#logo{
		padding: 0;
      	padding-bottom: 5px;
	}
  
	div.content_box{
	   	margin: 0.3in;
      	margin-top: 0;
      	border: none;
	}
  
  	nav.horizontal {
    	border: none;
      	margin: 0;
  	}
  
  	tr{
    	border-bottom: 1px solid black;  
  	}
  
  	table {
    	border-collapse: collapse;  
  	}
  
  	div.filter_elements {
    	background-color: transparent;
      	box-shadow: none;
      	margin-bottom: 0.2in;
  	}
  
  	div.timesheet_record{
    	background-color: transparent;
      	box-shadow: none;
      	margin-left: 1in;
      	margin-right: 1in;
  	}
  
  	
      
}